<?xml version="1.0" encoding="UTF-8"?>
<!-- Minimal bringup - just locomotion and joy teleop no visual nodes launch file ( Normal use, visual ran on remote desktop ) -->

<launch>

    <rosparam command="load" file="$(find spider_description)/params/spider.yaml" />

     <param name="robot_description" textfile="$(find spider_description)/urdf/spider.urdf" />
    <include file="$(find hexapod_bringup)/launch/components/joy_teleop.launch" />
    <include file="$(find hexapod_bringup)/launch/components/locomotion.launch" />
    <include file="$(find hexapod_bringup)/launch/rviz.launch" />
</launch>
