

<launch>




<rosparam command="load" file="$(find spider_description)/params/spider.yaml" />
<rosparam command="load" file="$(find spider_description)/params/dynamixel.yaml" />
<rosparam command="load" file="$(find spider_description)/params/joystick_ds3.yaml" />



 <param name="robot_description" textfile="$(find spider_description)/urdf/spider.urdf" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    />

</launch>
