<launch>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="true"/>
  </include>

  <param name="robot_description" textfile="$(find spider_description)/urdf/spider.urdf" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find spider_description)/urdf/spider.urdf -urdf -model spider -z 0.2" />




   <include file="$(find spider_control)/launch/spider_control.launch"/>

   <rosparam command="load" file="$(find spider_description)/params/spider.yaml" />
   <rosparam command="load" file="$(find spider_description)/params/dynamixel.yaml" />
   <rosparam command="load" file="$(find spider_description)/params/joystick_ds3.yaml" />






</launch>
